<div class="threeah-selection-item">
  <div class="selection-media">
    {% if media_type == 'video' %}
      <div class="selection-video">
        {{ media }}
      </div>
    {% else %}
      <img class="selection-image" src="{{ media }}" alt="{{ title }}" width="400" height="260">
    {% endif %}
  </div>
  <div class="selection-content">
    <div class="selection-item-title">{{ title }}</div>
  </div>
  <a class="selection-link" href="{{ link }}">Ver más</a>
</div>
