<div class="threeah-selection-item">
  <div class="selection-media">
    <img
      class="selection-image"
      src="{{ media | default: 'https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-image.png' }}"
      alt="{{ title }}"
      width="300"
      height="300"
      loading="lazy"
    >
  </div>

  <div class="selection-content">
    <div>
      <div class="selection-item-title">{{ title }}</div>
      {% if subtitle %}
        <div class="selection-item-subtitle">{{ subtitle }}</div>
      {% endif %}
    </div>
    <a class="selection-link" href="{{ link }}">Ver más</a>
  </div>
</div>
