<div class="threeah-service">
  <div class="service-media">
    {% if video %}
      <div class="service-video">
        <iframe src="{{ video | replace: 'watch?v=', 'embed/' }}" frameborder="0" allowfullscreen></iframe>
      </div>
    {% elsif image %}
      <img
        src="{{ image | img_url: '800x' }}"
        alt="{{ title }}"
        class="service-image"
        loading="lazy"
        width="350"
        height="220"
      >
    {% endif %}
  </div>
  <div class="service-content">
    <h3 class="service-title">{{ title }}</h3>
    <p class="service-description">{{ description }}</p>
  </div>
  {% if link %}
    <a href="{{ link }}" class="service-link" target="_blank" rel="noopener">Descubrir</a>
  {% endif %}
</div>
