
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-532761841760208010.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-532761841760208010.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-532761841760208010.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-532761841760208010.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-532761841760208010.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-532761841760208010.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-532761841760208010.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-532761841760208010.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-532761841760208010.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-532761841760208010.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-532761841760208010.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-532761841760208010.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-532761841760208010.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-532761841760208010.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-532761841760208010.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-532761841760208010.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-532761841760208010.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-532761841760208010.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-532761841760208010.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-532761841760208010.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-532761841760208010.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-532761841760208010.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-532761841760208010.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-532761841760208010.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-532761841760208010.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-532761841760208010.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-532761841760208010.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-532761841760208010.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-532761841760208010.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-532761841760208010.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-532761841760208010.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-532761841760208010.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-532761841760208010.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-532761841760208010.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-532761841760208010.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-532761841760208010.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-532761841760208010.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-532761841760208010.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-532761841760208010.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-532761841760208010.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-532761841760208010.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-532761841760208010.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-532761841760208010.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-532761841760208010.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-532761841760208010.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-532761841760208010.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-532761841760208010.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-532761841760208010.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-532761841760208010.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-532761841760208010.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-532761841760208010.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-532761841760208010.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-532761841760208010.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-532761841760208010.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-532761841760208010.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-532761841760208010.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-532761841760208010.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-532761841760208010.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-532761841760208010.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-532761841760208010.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-532761841760208010.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-532761841760208010.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-532761841760208010.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-532761841760208010.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-532761841760208010.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-532761841760208010.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-532761841760208010.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-532761841760208010.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-532761841760208010.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-532761841760208010.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-532761841760208010.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-532761841760208010 .gp-relative{position:relative}.gps-532761841760208010 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-532761841760208010 .gp-mb-0{margin-bottom:0}.gps-532761841760208010 .gp-flex{display:flex}.gps-532761841760208010 .gp-inline-flex{display:inline-flex}.gps-532761841760208010 .gp-grid{display:grid}.gps-532761841760208010 .gp-contents{display:contents}.gps-532761841760208010 .\!gp-hidden{display:none!important}.gps-532761841760208010 .gp-hidden{display:none}.gps-532761841760208010 .gp-h-full{height:100%}.gps-532761841760208010 .gp-w-full{width:100%}.gps-532761841760208010 .gp-max-w-full{max-width:100%}.gps-532761841760208010 .gp-shrink-0{flex-shrink:0}.gps-532761841760208010 .gp-flex-col{flex-direction:column}.gps-532761841760208010 .gp-items-center{align-items:center}.gps-532761841760208010 .gp-justify-center{justify-content:center}.gps-532761841760208010 .gp-gap-y-0{row-gap:0}.gps-532761841760208010 .gp-overflow-hidden{overflow:hidden}.gps-532761841760208010 .gp-text-left{text-align:left}.gps-532761841760208010 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532761841760208010 .gp-duration-200{transition-duration:.2s}.gps-532761841760208010 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-532761841760208010 .tablet\:\!gp-hidden{display:none!important}.gps-532761841760208010 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-532761841760208010 .mobile\:\!gp-hidden{display:none!important}.gps-532761841760208010 .mobile\:gp-hidden{display:none}}.gps-532761841760208010 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-532761841760208010 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-532761841760208010 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-532761841760208010 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-532761841760208010 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-532761841760208010 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-532761841760208010 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-532761841760208010 .\[\&_p\]\:gp-inline p{display:inline}.gps-532761841760208010 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-532761841760208010 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage id="gsPkoapEqE" data-id="gsPkoapEqE"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pt:50px;--pb:50px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsPkoapEqE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcw09gas2j gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gdiHOo2RdS ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gdiHOo2RdS"
      data-id="gdiHOo2RdS"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":16,"mobile":16,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-tablet:100%;--mb:24px;--mb-mobile:24px;--pl-mobile:0px;--pr-mobile:15px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:12px;--rg-mobile:8px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gdiHOo2RdS"
            style="--cg:0px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#575757;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817569155645800">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,96a32,32,0,1,0,32,32A32,32,0,0,0,128,96Zm0,40a8,8,0,1,1,8-8A8,8,0,0,1,128,136Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#575757">
                {{ "sections.gp-global-section-532761841760208010.ggdiHOo2RdS_childItem_0_html" | t | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gdiHOo2RdS"
            style="--cg:0px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#575757;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817569155645800">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,96a32,32,0,1,0,32,32A32,32,0,0,0,128,96Zm0,40a8,8,0,1,1,8-8A8,8,0,0,1,128,136Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#575757">
                {{ "sections.gp-global-section-532761841760208010.ggdiHOo2RdS_childItem_1_html" | t | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gdiHOo2RdS"
            style="--cg:0px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#575757;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817569155645800">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,96a32,32,0,1,0,32,32A32,32,0,0,0,128,96Zm0,40a8,8,0,1,1,8-8A8,8,0,0,1,128,136Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#575757">
                {{ "sections.gp-global-section-532761841760208010.ggdiHOo2RdS_childItem_2_html" | t | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gdiHOo2RdS"
            style="--cg:0px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#575757;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817569155645800">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,96a32,32,0,1,0,32,32A32,32,0,0,0,128,96Zm0,40a8,8,0,1,1,8-8A8,8,0,0,1,128,136Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#575757">
                {{ "sections.gp-global-section-532761841760208010.ggdiHOo2RdS_childItem_3_html" | t | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gKUbN0DuTf" data-id="gKUbN0DuTf"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:150px;--pr:150px;--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKUbN0DuTf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGxYjOcNgY gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g0V6EZYbbt"
    role="presentation"
    class="gp-group/image g0V6EZYbbt"
    style="--bs:solid;--bw:2px 2px 2px 2px;--bc:#870DFF;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_527701169523393489-96231da6-159a-4c45-85a9-50a3d8f573ca_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_527701169523393489-96231da6-159a-4c45-85a9-50a3d8f573ca_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_527701169523393489-96231da6-159a-4c45-85a9-50a3d8f573ca.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glCWJGeDoj">
    <div
      enableLazyloadImage parentTag="Col"
        class="glCWJGeDoj "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:10px;--pb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--size:32px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-532761841760208010.gglCWJGeDoj_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gITAGRhr4b">
    <div
      enableLazyloadImage parentTag="Col"
        class="gITAGRhr4b "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-532761841760208010.ggITAGRhr4b_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWBStOpKnq gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gatTldUz84"
    role="presentation"
    class="gp-group/image gatTldUz84"
    style="--bs:solid;--bw:2px 2px 2px 2px;--bc:#870DFF;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_527701169523393489-1ecfacc6-f8bd-4005-a7ba-b83a994ab18e_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_527701169523393489-1ecfacc6-f8bd-4005-a7ba-b83a994ab18e_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_527701169523393489-1ecfacc6-f8bd-4005-a7ba-b83a994ab18e.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzK0oc6q_t">
    <div
      enableLazyloadImage parentTag="Col"
        class="gzK0oc6q_t "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:10px;--pb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--size:32px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-532761841760208010.ggzK0oc6q_t_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5KBj-06Rr">
    <div
      enableLazyloadImage parentTag="Col"
        class="g5KBj-06Rr "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-532761841760208010.gg5KBj-06Rr_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUB2wyE1Tt gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gV5wlPC8qF"
    role="presentation"
    class="gp-group/image gV5wlPC8qF"
    style="--bs:solid;--bw:2px 2px 2px 2px;--bc:#870DFF;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_527701169523393489-38a9cb16-b55f-4317-a871-b6a26e2aff47_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_527701169523393489-38a9cb16-b55f-4317-a871-b6a26e2aff47_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_527701169523393489-38a9cb16-b55f-4317-a871-b6a26e2aff47.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCBAu7IhKV">
    <div
      enableLazyloadImage parentTag="Col"
        class="gCBAu7IhKV "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:10px;--pb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--size:32px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-532761841760208010.ggCBAu7IhKV_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9qQ86vwSg">
    <div
      enableLazyloadImage parentTag="Col"
        class="g9qQ86vwSg "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-532761841760208010.gg9qQ86vwSg_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "PC 3" }],
    "name": "PC 3",
    "tag": "section",
    "class": "gps-532761841760208010 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/3ah-barber-supplies/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=532761841760208010)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"es":{"ggdiHOo2RdS_childItem_0_html":"<p><strong>Corte Profesional desde donde quieras: &nbsp;</strong>Logra resultados de corte de calidad profesional desde donde quieras.&nbsp;<strong>(ES INALÁMBRICO)</strong></p>","ggdiHOo2RdS_childItem_1_html":"<p><strong>RPM suficientes: </strong>Todas las maquinas cuentan con las mismas revoluciones 6.000</p>","ggdiHOo2RdS_childItem_2_html":"<p><strong>Ahorro de Productos: </strong>No necesitas comprarte otras máquinas para empezar a cortar, además que incluye 6 peines para la clipper y 3 para la trimmer, los necesarios para realizar un corte perfecto.</p>","ggdiHOo2RdS_childItem_3_html":"<p><strong>Acceso a pelos Difíciles: </strong>Llega hasta el pelo mas difícil de cortar de manera efectiva gracias a la combinación de tres maquinas.</p>","gglCWJGeDoj_text_html":"<p><span style=\"font-size:35px;\">1.Mejor peinado en menos tiempo</span></p>","ggITAGRhr4b_text_html":"<p>Péinate mientras secas tu pelo, consiguiendo un efecto único que solo el Blow Out puede proporcionarte.&nbsp;</p>","ggzK0oc6q_t_text_html":"<p><span style=\"font-size:35px;\">2.Cabezales adaptados</span></p>","gg5KBj-06Rr_text_html":"<p>El cabezal Térmico te aporta brillo, elasticidad y suavidad, mientras que el cabezal de Nylon protege y evita el efecto frizz.</p>","ggCBAu7IhKV_text_html":"<p><span style=\"font-size:35px;\">3.Rotación y potencia</span></p>","gg9qQ86vwSg_text_html":"<p>Cuenta con tres niveles de potencia y dos de rotación para un mejor manejo y resultado.</p>"}}
  }
{% endschema %}
