
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-532674862230012821.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-532674862230012821.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-532674862230012821.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-532674862230012821.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-532674862230012821.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-532674862230012821.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-532674862230012821.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-532674862230012821.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-532674862230012821.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-532674862230012821.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-532674862230012821.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-532674862230012821.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-532674862230012821.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-532674862230012821.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-532674862230012821.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-532674862230012821.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-532674862230012821.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-532674862230012821.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-532674862230012821.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-532674862230012821.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-532674862230012821.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-532674862230012821.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-532674862230012821.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-532674862230012821.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-532674862230012821.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-532674862230012821.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-532674862230012821.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-532674862230012821.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-532674862230012821.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-532674862230012821.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-532674862230012821.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-532674862230012821.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-532674862230012821.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-532674862230012821.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-532674862230012821.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-532674862230012821.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-532674862230012821.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-532674862230012821.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-532674862230012821.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-532674862230012821.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-532674862230012821.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-532674862230012821.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-532674862230012821.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-532674862230012821.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-532674862230012821.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-532674862230012821.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-532674862230012821.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-532674862230012821.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-532674862230012821.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-532674862230012821.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-532674862230012821.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-532674862230012821.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-532674862230012821.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-532674862230012821.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-532674862230012821.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-532674862230012821.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-532674862230012821.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-532674862230012821.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-532674862230012821.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-532674862230012821.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-532674862230012821.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-532674862230012821.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-532674862230012821.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-532674862230012821.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-532674862230012821.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-532674862230012821.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-532674862230012821.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-532674862230012821.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-532674862230012821.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-532674862230012821.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-532674862230012821.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-532674862230012821.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-532674862230012821.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-532674862230012821.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-532674862230012821 .gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000}.gps-532674862230012821 .gp-invisible{visibility:hidden}.gps-532674862230012821 .gp-absolute{position:absolute}.gps-532674862230012821 .gp-relative{position:relative}.gps-532674862230012821 .gp-z-1{z-index:1}.gps-532674862230012821 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-532674862230012821 .gp-mb-0{margin-bottom:0}.gps-532674862230012821 .gp-block{display:block}.gps-532674862230012821 .gp-flex{display:flex}.gps-532674862230012821 .gp-inline-flex{display:inline-flex}.gps-532674862230012821 .gp-grid{display:grid}.gps-532674862230012821 .\!gp-hidden{display:none!important}.gps-532674862230012821 .gp-hidden{display:none}.gps-532674862230012821 .gp-aspect-square{aspect-ratio:1/1}.gps-532674862230012821 .gp-h-5{height:20px}.gps-532674862230012821 .gp-h-auto{height:auto}.gps-532674862230012821 .gp-h-full{height:100%}.gps-532674862230012821 .gp-w-5{width:20px}.gps-532674862230012821 .gp-w-full{width:100%}.gps-532674862230012821 .gp-min-w-\[45px\]{min-width:45px}.gps-532674862230012821 .gp-max-w-full{max-width:100%}.gps-532674862230012821 .gp-shrink-\[99999\]{flex-shrink:99999}.gps-532674862230012821 .gp-cursor-default{cursor:default}.gps-532674862230012821 .gp-cursor-pointer{cursor:pointer}.gps-532674862230012821 .gp-appearance-none{-webkit-appearance:none;-moz-appearance:none;appearance:none}.gps-532674862230012821 .gp-flex-col{flex-direction:column}.gps-532674862230012821 .gp-items-center{align-items:center}.gps-532674862230012821 .gp-justify-center{justify-content:center}.gps-532674862230012821 .gp-gap-y-0{row-gap:0}.gps-532674862230012821 .gp-overflow-hidden{overflow:hidden}.gps-532674862230012821 .gp-break-words{overflow-wrap:break-word}.gps-532674862230012821 .gp-rounded-none{border-radius:0}.gps-532674862230012821 .\!gp-border-x-0{border-left-width:0!important;border-right-width:0!important}.gps-532674862230012821 .gp-border-y{border-bottom-width:1px;border-top-width:1px}.gps-532674862230012821 .gp-bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-532674862230012821 .gp-bg-transparent{background-color:transparent}.gps-532674862230012821 .gp-px-4{padding-left:16px;padding-right:16px}.gps-532674862230012821 .gp-text-center{text-align:center}.gps-532674862230012821 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-532674862230012821 .gp-no-underline{text-decoration-line:none}.gps-532674862230012821 .gp-opacity-25{opacity:.25}.gps-532674862230012821 .gp-opacity-30{opacity:.3}.gps-532674862230012821 .gp-opacity-75{opacity:.75}.gps-532674862230012821 .gp-shadow-none{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-532674862230012821 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-532674862230012821 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532674862230012821 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532674862230012821 .gp-duration-150{transition-duration:.15s}.gps-532674862230012821 .gp-duration-200{transition-duration:.2s}.gps-532674862230012821 .gp-duration-300{transition-duration:.3s}.gps-532674862230012821 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532674862230012821 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-532674862230012821 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:\!gp-g-paragraph-1 .shopify-payment-button__button--unbranded{font-family:var(--g-p1-ff)!important;font-size:var(--g-p1-size)!important;font-style:var(--g-p1-fs)!important;font-weight:var(--g-p1-weight)!important;letter-spacing:var(--g-p1-ls)!important;line-height:var(--g-p1-lh)!important}.gps-532674862230012821 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:\!gp-g-s-medium .shopify-payment-button__button--unbranded{padding:8px 24px!important}@media (hover:hover) and (pointer:fine){.gps-532674862230012821 .hover\:gp-border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-532674862230012821 .hover\:gp-text-black:hover{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity))}}.gps-532674862230012821 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-532674862230012821 .disabled\:gp-cursor-not-allowed:disabled{cursor:not-allowed}.gps-532674862230012821 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-532674862230012821 .data-\[disabled\=true\]\:gp-opacity-60[data-disabled=true]{opacity:.6}.gps-532674862230012821 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-532674862230012821 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-532674862230012821 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-532674862230012821 .tablet\:\!gp-hidden{display:none!important}.gps-532674862230012821 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-532674862230012821 .mobile\:\!gp-hidden{display:none!important}.gps-532674862230012821 .mobile\:gp-hidden{display:none}}.gps-532674862230012821 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-532674862230012821 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:gp-min-h-fit .shopify-payment-button__button--unbranded{min-height:-moz-fit-content;min-height:fit-content}.gps-532674862230012821 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:gp-text-g-text-3 .shopify-payment-button__button--unbranded{color:var(--g-c-text-3)}.gps-532674862230012821 .disabled\:\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:gp-pointer-events-none .shopify-payment-button__button--unbranded:disabled{pointer-events:none}.gps-532674862230012821 .\[\&_p\]\:gp-inline p{display:inline}.gps-532674862230012821 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-532674862230012821 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-532674862230012821 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage id="gxVSsqi4mO" data-id="gxVSsqi4mO"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxVSsqi4mO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghGr6MHHg8 gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type != 'product'
            assign product = all_products['pb-cepillo-secador-rotatorio-2-en-1']
            assign productId = '8765177495878' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        -%}
        

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gXZ6TfzTyI" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="gXZ6TfzTyI" data-id="gXZ6TfzTyI"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="gXZ6TfzTyI" data-id="gXZ6TfzTyI-row"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gXZ6TfzTyI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQLe_qGzW4 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g95Gu5lRXE">
    <div
      enableLazyloadImage parentTag="Col"
        class="g95Gu5lRXE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-532674862230012821.gg95Gu5lRXE_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:0px" class="gRYljuCbZz ">
      
    {%- liquid
      assign current_variant = product.selected_or_first_available_variant
      assign available = current_variant.available | default: false
    -%}
      <gp-product-quantity
        data-id="gRYljuCbZz"
        data-disabled="{%- if available -%} false {%- else -%} true {%- endif -%}"
        data-price="false"
        class="quantityClass gp-relative gp-inline-flex gp-w-full gp-bg-transparent gp-transition-all gp-duration-150 data-[disabled=true]:gp-opacity-60 "
        style="--h:45px;--jc:left"
      >

      
          <button
            title="Decrement"
            aria-label="decrement"
            {% if available == false %} disabled {% endif %}
            class="hover:gp-border-g-line-3 gp-bg-g-bg-3 gp-minus gp-flex gp-aspect-square gp-h-full gp-cursor-pointer gp-items-center gp-justify-center gp-outline-none disabled:gp-cursor-not-allowed"
            style="--w:45px;--hvr-bg:#E7E7E7;--bg:var(--g-c-bg-3, bg-3);--c:#5C5C5C;--bs:none;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#7D7D7D;--hvr-bc:var(--g-c-line-3, line-3);--bblr:auto;--bbrr:auto;--btlr:auto;--btrr:auto"
          >
            <span class="gp-inline-flex gp-items-center gp-justify-center" style="--w:20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="gp-h-full gp-w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
              </svg>
            </span>
          </button>
      
        <input
          type="text"
          name="product-quantity"
          {% if available == false %} disabled {% endif %}
          class="hover:gp-border-g-line-3 gp-bg-g-bg-3 !gp-border-x-0 gp-px-4 gp-flex gp-shadow-none gp-appearance-none gp-items-center gp-border-y gp-text-center gp-outline-none gp-transition-all gp-duration-150 hover:gp-text-black disabled:gp-pointer-events-none gp-h-auto gp-rounded-none gp-shrink-[99999] gp-w-full gp-min-w-[45px]"
          style="--maxw:50px;--maxw-tablet:50px;--maxw-mobile:100%;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#5C5C5C;--bg:var(--g-c-bg-3, bg-3);--bs:none;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#7D7D7D;--hvr-bc:var(--g-c-line-3, line-3)"
          aria-label="Quantity"
          inputmode="numeric"
          min="{{ current_variant.quantity_rule.min }}"
          step="{{ current_variant.quantity_rule.increment }}"
          value="1"
          autocomplete='off'
        />

        
          <button
            {% if available == false %} disabled {% endif %}
            aria-label="increment"
            title="Increment"
            class="hover:gp-border-g-line-3 gp-bg-g-bg-3 gp-plus gp-flex gp-aspect-square gp-h-full gp-cursor-pointer gp-items-center gp-justify-center gp-outline-none gp-transition-all gp-duration-150 disabled:gp-pointer-events-none"
            style="--w:45px;--hvr-bg:#E7E7E7;--bg:var(--g-c-bg-3, bg-3);--c:#5C5C5C;--bs:none;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#7D7D7D;--hvr-bc:var(--g-c-line-3, line-3);--bblr:auto;--bbrr:auto;--btlr:auto;--btrr:auto"
          >
            <span class="gp-inline-flex gp-items-center gp-justify-center" style="--w:20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="gp-h-full gp-w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
            </span>
          </button>
        
      </gp-product-quantity>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-quantity.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      </div>
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"mobile":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"shake","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"ProductButton","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:visible;display:contents">
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data-wrapper="true"
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","enableSuccessMessage":true,"enableErrorMessage":true,"label":"AÑADIR AL CARRITO","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' 
       gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
       data-variant-selection-required-message="{{}}"
    >
        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:0px;--ta:left;--ta-mobile:center"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gAyZ18QwZT.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #870DFF;
  
      
      
      
      
      
      
    }

    .gAyZ18QwZT:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gAyZ18QwZT:hover .gp-button-icon {
      color: #870DFF;
    }

     .gAyZ18QwZT .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gAyZ18QwZT:hover .gp-button-price {
      color: #870DFF;
    }

    .gAyZ18QwZT .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gAyZ18QwZT .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gAyZ18QwZT:hover .gp-product-dot-price {
      color: #870DFF;
    }
  </style>
    <button
      type="submit" data-id="gAyZ18QwZT" aria-label="AÑADIR AL CARRITO"
      name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
      data-state="idle"
      class="gAyZ18QwZT gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc tcustomizer-submit-button"
      style="--hvr-bg:#FFFFFF;--bg:#870DFF;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#870DFF;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:13px;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:13px"
      >
        {{ "sections.gp-global-section-532674862230012821.ggAyZ18QwZT_label_html" | t }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:0px;--ta:left;--ta-mobile:center"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gAyZ18QwZT-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #870DFF;
  
      
      
      
      
      
      
    }

    .gAyZ18QwZT-sold-out:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gAyZ18QwZT-sold-out:hover .gp-button-icon {
      color: #870DFF;
    }

     .gAyZ18QwZT-sold-out .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gAyZ18QwZT-sold-out:hover .gp-button-price {
      color: #870DFF;
    }

    .gAyZ18QwZT-sold-out .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gAyZ18QwZT-sold-out .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gAyZ18QwZT-sold-out:hover .gp-product-dot-price {
      color: #870DFF;
    }
  </style>
    <button
      type="button" data-id="gAyZ18QwZT" aria-label="Out of stock"
      gp-data-hidden="{% if variant.available %}true{% endif %}"
      data-state="idle"
      class="gAyZ18QwZT-sold-out gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-cursor-default"
      style="--hvr-bg:#FFFFFF;--bg:#870DFF;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#870DFF;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:13px;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:13px"
      >
        {{ "sections.gp-global-section-532674862230012821.ggAyZ18QwZT_outOfStockLabel_html" | t }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:0px" class="goTFrfJoKH ">
      
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign supported_payment_methods = shop.enabled_payment_types
    -%}
    <gp-product-dynamic data-id="goTFrfJoKH" data-translate-label="COMPRAR AHORA"  gp-data='{"setting":{"label":"COMPRAR AHORA"},"totalVariant":"{{product.variants.size}}"}
    '>
      <div class="gp-block wrap__button--unbranded__goTFrfJoKH [&_.shopify-payment-button\_\_button--unbranded]:gp-min-h-fit disabled:[&_.shopify-payment-button\_\_button--unbranded]:gp-pointer-events-none [&_.shopify-payment-button\_\_button--unbranded]:!gp-g-paragraph-1 [&_.shopify-payment-button\_\_button--unbranded]:!gp-g-s-medium [&_.shopify-payment-button\_\_button--unbranded]:gp-text-g-text-3">
          {{ form | payment_button }}
      </div>
      {% style %}
        .wrap__button--unbranded__goTFrfJoKH {
          text-align: left !important;
        }

        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button {
          display: inline-block;
          
      width: 100%;
      height: Auto;
    
        }

        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button div {
          width: 100%;
          margin-top: 0px !important;
        }

        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button .shopify-payment-button__more-options {
          display: none;
        }

        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button .shopify-payment-button__button--unbranded {
          max-width: 100%;
          min-width: unset;
          background-color: unset !important;
          position: relative;
          border: none !important;
          margin: 0;
          z-index: 0;
          border-radius: unset;
          width: 100%;
          
  font-family: var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body) !important;
  font-size: 16px !important;
  font-weight: bold !important;
  ;
  line-height: 180% !important;
  ;
  ;
  ;
  
          color: var(--g-c-text-3, text-3) !important;
          
          padding-top: 8px !important;;
      padding-bottom: 8px !important;;
      padding-left: 24px !important;;
      padding-right: 24px !important;;
    
          
      
      
      
      
      
          
      
      height: Auto;
    
        }
        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button .shopify-payment-button__button--unbranded::before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          z-index: -1;
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      
      
      
      
      
          background-color: var(--g-c-brand, brand);
        }

        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
          
          
        }
        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button .shopify-payment-button__button--unbranded:hover::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
          background-color: var(--g-c-highlight, highlight);
        }

        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button .shopify-payment-button__button--unbranded::after {
          border-radius: 0;
          box-shadow: none;
        }

        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button .shopify-payment-button__button--unbranded::after:hover {
          border-radius: 0;
          box-shadow: none;
        }

        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button > div {
          max-width: 100%;
        }

        .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button > div > div {
          max-width: 100%;
        }

        @media only screen and (max-width: 1024px) and (min-width: 768px)  {
          .wrap__button--unbranded__goTFrfJoKH {
            
          }
          .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button {
            
      width: 100%!important;;
      height: Auto!important;;
    
          }
          .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button .shopify-payment-button__button--unbranded {
            width: 100%;

            padding-top: ;
      padding-bottom: ;
      padding-left: ;
      padding-right: ;
    
            line-height: 180% !important;
            font-size: 16px !important;
            
      width: 100%;
      height: Auto;
    
          }
        }

        @media only screen and (max-width: 767px) {
          .wrap__button--unbranded__goTFrfJoKH {
            
          }
          .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button {
            
      width: 100%!important;;
      height: Auto!important;;
    
          }
          .wrap__button--unbranded__goTFrfJoKH .shopify-payment-button .shopify-payment-button__button--unbranded {
            width: 100%;
            padding-top: ;
      padding-bottom: ;
      padding-left: ;
      padding-right: ;
    
            line-height: 180% !important;
            font-size: 14px !important;
            
      width: 100%;
      height: Auto;
    
          }
        }

        {% endstyle %}
      </gp-product-dynamic>
  <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-dynamic.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "Inicio 2" }],
    "name": "Inicio 2",
    "tag": "section",
    "class": "gps-532674862230012821 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/3ah-barber-supplies/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=532674862230012821)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"es":{"gg95Gu5lRXE_text_html":"<p>Cantidad</p>","ggAyZ18QwZT_label_html":"AÑADIR AL CARRITO","ggAyZ18QwZT_outOfStockLabel_html":"Out of stock","ggAyZ18QwZT_unavailableLabel_html":"Unavailable"}}
  }
{% endschema %}
