

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-536137563228865324.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-536137563228865324.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-536137563228865324.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-536137563228865324.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-536137563228865324.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-536137563228865324.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-536137563228865324.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-536137563228865324.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-536137563228865324.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-536137563228865324.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-536137563228865324.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-536137563228865324.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-536137563228865324.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-536137563228865324.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-536137563228865324.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-536137563228865324.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-536137563228865324.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-536137563228865324.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-536137563228865324.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-536137563228865324.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-536137563228865324.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-536137563228865324.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-536137563228865324.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-536137563228865324.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-536137563228865324.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-536137563228865324.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-536137563228865324.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-536137563228865324.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-536137563228865324.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-536137563228865324.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-536137563228865324.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-536137563228865324.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-536137563228865324.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-536137563228865324.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-536137563228865324.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-536137563228865324 .gp-relative{position:relative}.gps-536137563228865324 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-536137563228865324 .gp-mb-0{margin-bottom:0}.gps-536137563228865324 .gp-block{display:block}.gps-536137563228865324 .gp-flex{display:flex}.gps-536137563228865324 .gp-grid{display:grid}.gps-536137563228865324 .\!gp-hidden{display:none!important}.gps-536137563228865324 .gp-hidden{display:none}.gps-536137563228865324 .gp-max-w-full{max-width:100%}.gps-536137563228865324 .gp-flex-col{flex-direction:column}.gps-536137563228865324 .gp-gap-y-0{row-gap:0}.gps-536137563228865324 .gp-text-center{text-align:center}.gps-536137563228865324 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536137563228865324 .gp-duration-200{transition-duration:.2s}.gps-536137563228865324 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536137563228865324 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:\!gp-g-paragraph-1 .shopify-payment-button__button--unbranded{font-family:var(--g-p1-ff)!important;font-size:var(--g-p1-size)!important;font-style:var(--g-p1-fs)!important;font-weight:var(--g-p1-weight)!important;letter-spacing:var(--g-p1-ls)!important;line-height:var(--g-p1-lh)!important}.gps-536137563228865324 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:\!gp-g-s-medium .shopify-payment-button__button--unbranded{padding:8px 24px!important}@media (max-width:1024px){.gps-536137563228865324 .tablet\:\!gp-hidden{display:none!important}.gps-536137563228865324 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-536137563228865324 .mobile\:\!gp-hidden{display:none!important}.gps-536137563228865324 .mobile\:gp-hidden{display:none}}.gps-536137563228865324 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-536137563228865324 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:gp-min-h-fit .shopify-payment-button__button--unbranded{min-height:-moz-fit-content;min-height:fit-content}.gps-536137563228865324 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:gp-text-g-text-3 .shopify-payment-button__button--unbranded{color:var(--g-c-text-3)}.gps-536137563228865324 .disabled\:\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:gp-pointer-events-none .shopify-payment-button__button--unbranded:disabled{pointer-events:none}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gdIbwur2n8" data-id="gdIbwur2n8"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdIbwur2n8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKPeIH_23N gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type != 'product'
            assign product = all_products['3ah-cera-moldeable-hybrid-1']
            assign productId = '9229797359942' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        -%}
        

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gUkO85_xsX" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="gUkO85_xsX" data-id="gUkO85_xsX"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="gUkO85_xsX" data-id="gUkO85_xsX-row"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gUkO85_xsX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4CYabjT1q gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g6ac-51kGJ ">
      
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign supported_payment_methods = shop.enabled_payment_types
    -%}
    <gp-product-dynamic data-id="g6ac-51kGJ" data-translate-label="COMPRAR AHORA"  gp-data='{"setting":{"label":"COMPRAR AHORA"},"totalVariant":"{{product.variants.size}}"}
    '>
      <div class="gp-block wrap__button--unbranded__g6ac-51kGJ [&_.shopify-payment-button\_\_button--unbranded]:gp-min-h-fit disabled:[&_.shopify-payment-button\_\_button--unbranded]:gp-pointer-events-none [&_.shopify-payment-button\_\_button--unbranded]:!gp-g-paragraph-1 [&_.shopify-payment-button\_\_button--unbranded]:!gp-g-s-medium [&_.shopify-payment-button\_\_button--unbranded]:gp-text-g-text-3">
          {{ form | payment_button }}
      </div>
      {% style %}
        .wrap__button--unbranded__g6ac-51kGJ {
          text-align: left !important;
        }

        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button {
          display: inline-block;
          
      width: 100%;
      height: Auto;
    
        }

        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button div {
          width: 100%;
          margin-top: 0px !important;
        }

        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button .shopify-payment-button__more-options {
          display: none;
        }

        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button .shopify-payment-button__button--unbranded {
          max-width: 100%;
          min-width: unset;
          background-color: unset !important;
          position: relative;
          border: none !important;
          margin: 0;
          z-index: 0;
          border-radius: unset;
          width: 100%;
          
  font-family: var(--g-font-Inter, 'Inter'), var(--g-font-body, body) !important;
  font-size: 16px !important;
  font-weight: bold !important;
  ;
  line-height: 180% !important;
  ;
  ;
  ;
  
          color: var(--g-c-text-3, text-3) !important;
          
          padding-top: 8px !important;;
      padding-bottom: 8px !important;;
      padding-left: 24px !important;;
      padding-right: 24px !important;;
    
          
      
      
      
      
      
          
      
      height: Auto;
    
        }
        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button .shopify-payment-button__button--unbranded::before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          z-index: -1;
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      
      
      
      
      
          background-color: var(--g-c-brand, brand);
        }

        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
          
          
        }
        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button .shopify-payment-button__button--unbranded:hover::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
          background-color: var(--g-c-highlight, highlight);
        }

        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button .shopify-payment-button__button--unbranded::after {
          border-radius: 0;
          box-shadow: none;
        }

        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button .shopify-payment-button__button--unbranded::after:hover {
          border-radius: 0;
          box-shadow: none;
        }

        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button > div {
          max-width: 100%;
        }

        .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button > div > div {
          max-width: 100%;
        }

        @media only screen and (max-width: 1024px) and (min-width: 768px)  {
          .wrap__button--unbranded__g6ac-51kGJ {
            
          }
          .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button {
            
      width: 100%!important;;
      height: Auto!important;;
    
          }
          .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button .shopify-payment-button__button--unbranded {
            width: 100%;

            padding-top: ;
      padding-bottom: ;
      padding-left: ;
      padding-right: ;
    
            line-height: 180% !important;
            font-size: 16px !important;
            
      width: 100%;
      height: Auto;
    
          }
        }

        @media only screen and (max-width: 767px) {
          .wrap__button--unbranded__g6ac-51kGJ {
            
          }
          .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button {
            
      width: 100%!important;;
      height: Auto!important;;
    
          }
          .wrap__button--unbranded__g6ac-51kGJ .shopify-payment-button .shopify-payment-button__button--unbranded {
            width: 100%;
            padding-top: ;
      padding-bottom: ;
      padding-left: ;
      padding-right: ;
    
            line-height: 180% !important;
            font-size: 14px !important;
            
      width: 100%;
      height: Auto;
    
          }
        }

        {% endstyle %}
      </gp-product-dynamic>
  <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-dynamic.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZJhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZthjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZNhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZxhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZBhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZFhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-536137563228865324 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/3ah-barber-supplies/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=531034400159171383&sectionId=536137563228865324)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
