

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-533199348872250126.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-533199348872250126.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-533199348872250126.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-533199348872250126.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-533199348872250126.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-533199348872250126.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-533199348872250126.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-533199348872250126.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-533199348872250126.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-533199348872250126.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-533199348872250126.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-533199348872250126.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-533199348872250126.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-533199348872250126.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-533199348872250126.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-533199348872250126.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-533199348872250126.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-533199348872250126.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-533199348872250126.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-533199348872250126.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-533199348872250126.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-533199348872250126.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-533199348872250126.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-533199348872250126.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-533199348872250126.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-533199348872250126.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-533199348872250126.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-533199348872250126.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-533199348872250126.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-533199348872250126.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-533199348872250126.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-533199348872250126.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-533199348872250126.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-533199348872250126.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-533199348872250126.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-533199348872250126.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-533199348872250126.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-533199348872250126.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-533199348872250126.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-533199348872250126.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-533199348872250126.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-533199348872250126.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-533199348872250126.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-533199348872250126.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-533199348872250126.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-533199348872250126.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-533199348872250126.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-533199348872250126.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-533199348872250126.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-533199348872250126.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-533199348872250126 .gp-relative{position:relative}.gps-533199348872250126 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-533199348872250126 .gp-mb-0{margin-bottom:0}.gps-533199348872250126 .gp-flex{display:flex}.gps-533199348872250126 .gp-grid{display:grid}.gps-533199348872250126 .\!gp-hidden{display:none!important}.gps-533199348872250126 .gp-hidden{display:none}.gps-533199348872250126 .gp-max-w-full{max-width:100%}.gps-533199348872250126 .gp-flex-col{flex-direction:column}.gps-533199348872250126 .gp-gap-y-0{row-gap:0}.gps-533199348872250126 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533199348872250126 .gp-duration-200{transition-duration:.2s}.gps-533199348872250126 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-533199348872250126 .tablet\:\!gp-hidden{display:none!important}.gps-533199348872250126 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-533199348872250126 .mobile\:\!gp-hidden{display:none!important}.gps-533199348872250126 .mobile\:gp-hidden{display:none}}.gps-533199348872250126 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-533199348872250126 .\[\&_p\]\:gp-inline p{display:inline}.gps-533199348872250126 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-533199348872250126 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="gWEZIgGjA7" data-id="gWEZIgGjA7"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWEZIgGjA7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gF4zvhydnP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gBp7hdOIS-" data-id="gBp7hdOIS-"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBp7hdOIS- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtNnnDQVGP gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8XfxsoQnH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8XfxsoQnH "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#870DFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8XfxsoQnH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g85fV8qyMJ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g85fV8qyMJ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg85fV8qyMJ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCYdsqD65y">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gCYdsqD65y "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCYdsqD65y_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAFmvgZ9_b">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAFmvgZ9_b "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAFmvgZ9_b_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdPhl-uhZH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdPhl-uhZH "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdPhl-uhZH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gV4WpY-PDU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gopRblA1-1">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gopRblA1-1 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#870DFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggopRblA1-1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCoLG1-aWr">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gCoLG1-aWr "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCoLG1-aWr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpgL5N-UVx">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gpgL5N-UVx "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpgL5N-UVx_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g09V14tX2z">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g09V14tX2z "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg09V14tX2z_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-533199348872250126 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/3ah-barber-supplies/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=533199348637369102&sectionId=533199348872250126)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8XfxsoQnH_text","label":"gg8XfxsoQnH_text","default":"<p>M A R C A</p>"},{"type":"html","id":"gg85fV8qyMJ_text","label":"gg85fV8qyMJ_text","default":"<p>ABOUT US</p>"},{"type":"html","id":"ggCYdsqD65y_text","label":"ggCYdsqD65y_text","default":"<p>AVISO LEGAL</p>"},{"type":"html","id":"ggAFmvgZ9_b_text","label":"ggAFmvgZ9_b_text","default":"<p>POLÍTICA DE PRIVACIDAD</p>"},{"type":"html","id":"ggdPhl-uhZH_text","label":"ggdPhl-uhZH_text","default":"<p>TÉRMINOS</p>"},{"type":"html","id":"ggopRblA1-1_text","label":"ggopRblA1-1_text","default":"<p>S O P O R T E</p>"},{"type":"html","id":"ggCoLG1-aWr_text","label":"ggCoLG1-aWr_text","default":"<p>DEVOLUCIONES</p>"},{"type":"html","id":"ggpgL5N-UVx_text","label":"ggpgL5N-UVx_text","default":"<p>FAQ</p>"},{"type":"html","id":"gg09V14tX2z_text","label":"gg09V14tX2z_text","default":"<p>CONTACTO</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
